{% extends 'layout.html' %}
{% load static %}

{% block body %}
<title>About</title>
<h2>This is About Us page</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eligendi et natus nemo officia pariatur qui quibusdam quisquam similique tenetur! Ad adipisci amet asperiores cumque, dicta dolor dolorem ea est ex excepturi id impedit inventore, itaque iure iusto laborum minus molestiae nesciunt nisi odit officia perferendis placeat porro, quaerat quibusdam quisquam rem repellat similique tempore temporibus totam veniam vero vitae! Aspernatur atque beatae deleniti deserunt dolor error expedita, fuga minus molestiae non nostrum officia omnis pariatur porro quidem sed, suscipit totam, unde voluptate voluptates. Asperiores cum, dolor, explicabo fuga hic iusto laborum magni, minima modi praesentium quia recusandae suscipit tempora?</p>
{% endblock %}