{% extends 'layout.html' %}
{% load static %}

{% block body %}
    <title>Services</title>
    <h2>This is my service page </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda dignissimos distinctio, dolores impedit incidunt officia officiis, quae quas, qui saepe voluptas. Debitis expedita nulla quam, quidem rerum sit soluta! Ab aliquam assumenda beatae consequatur dicta eveniet exercitationem fugiat illum in maxime minima obcaecati, quod rem rerum velit vitae voluptatum!</p>

{% endblock %}